Library/
Temp/
.vs/シューティング(作り直し)/v15/Server/sqlite3/db.lock
.vs/シューティング(作り直し)/v15/Server/sqlite3/storage.ide
.vs/シューティング(作り直し)/v15/Server/sqlite3/storage.ide-shm
.vs/シューティング(作り直し)/v15/Server/sqlite3/storage.ide-wal
